:root {
    --primary-color: rgba(15,52,96,0.9);
    /* --secondary-color: rgba(233,69,96,0.9); */
    --overlay-color: rgba(22,33,62,0.9);
    --menu-speed: 0.75s;
    --max-width: 960px;
    
    --main-Color: #EAEAEA;
    --dark-Color: #252A34;
    --bottom-Color: #08D9D6;
    --highlight-Color: #FF2E63;
    --black-Color: #000;
    --whitgh-Color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Roboto Font  من قوقل فونت*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
/* Colors Uses: #08D9D6 - #252A34 - #FF2E63 - #EAEAEA */

/* Main Style */
html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

/* Utility Classes */
.post-main-contaner {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    right: 0;
}
.container {
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
.bg-dark {
    background-color: var(--dark-Color);
}
.bg-light {
    background-color: var(--main-Color);
    color: var(--dark-Color);
}
.bg-primary {
    background-color: var(--bottom-Color) ;
    color: var(--whitgh-Color);
}
.bg-whitgh{
    background-color: var(--whitgh-Color)
}
.mb10px {
    margin-bottom: 10px
}
.m-heading {
    margin: 20px 0;
}
.text-primary {
    color: var(--primary-color);
}
.text-center {
    text-align: center;
}
.l-heading {
    font-size: 3rem;
    /* text-transform: uppercase; */
}
.m-heading {
    font-size: 2rem;
}
.lead {
    font-size: 1.6rem;
}
.py-1 {
    padding: 1.5rem 0;
}
.p-1 {
    padding: 1.5rem;
}
.btn {
    background-color: var(--bottom-Color);
    color: var(--black-Color);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
}
.btn-dark {
    background-color: var(--dark-Color);
    color: var(--whitgh-Color);
}
.btn:hover {
    background-color: var(--highlight-Color);
    color: var(--whitgh-Color)
}
.box-shadow {
    box-shadow: 0 0 2px var(--dark-Color);
}


/* Scroll */
.up {
    position: fixed;
    bottom: 20px;
    right: -40px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--dark-Color);
    color: var(--whitgh-Color);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.up.show {
    right: 20px;
}



/* Section: Profile */
.profile {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* background: #252A34 url(/img/profile.jpg) no-repeat center left/contain; */
}
.profile img {
    width: 100%;
}

.profile .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding: 1rem;
    position: relative;
    /* left: 300px; */
    /* Overlay */
    background-color: rgb(214 209 206);
}


/* Section: Postes */

.postes-contaner {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.postes-contaner .post-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 15px;
    width: 90%;
    right: 5%;
}
.postes-contaner .post-content img{
    width: 50%;
    margin-right: 1.5rem;
    border: 5px solid var(--whitgh-Color);
} 
.postes-contaner .post-content .post-text{
    width: 40%;
    right: 15%;
    max-height: 500px;
    overflow: auto;
    font-size: 20px;
    text-align: right;
}



